<h1 mat-dialog-title>{{ headlining }}</h1>
<section mat-dialog-content>
	<ng-container *ngIf="data.isGoogle && data.isChurch">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.118499020822!2d-75.54399772429953!3d10.412162265805646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef62f70386e4839%3A0x59beffd1a9889105!2sMabare%20Restaurante%20-%20Bar!5e0!3m2!1ses-419!2sco!4v1705108241127!5m2!1ses-419!2sco" 
			width="600" 
			height="450" 
			style="border:0;" 
			allowfullscreen="" 
			loading="lazy" 
			referrerpolicy="no-referrer-when-downgrade">
		</iframe>
	</ng-container>
	<ng-container *ngIf="data.isGoogle && !data.isChurch">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.118499020822!2d-75.54399772429953!3d10.412162265805646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef62f70386e4839%3A0x59beffd1a9889105!2sMabare%20Restaurante%20-%20Bar!5e0!3m2!1ses-419!2sco!4v1705108241127!5m2!1ses-419!2sco" 
			width="600" 
			height="450" 
			style="border:0;" 
			allowfullscreen="" 
			loading="lazy" 
			referrerpolicy="no-referrer-when-downgrade">
		</iframe>
	</ng-container>
</section>
<footer mat-dialog-actions align="end">
	<button mat-flat-button mat-dialog-close>{{ 'BUTTONS.CLOSE' | translate }}</button>
</footer>
