<ng-container>
	<div class="hotel-container animate__animated animate__fadeInUp" >
		<span ><img src="assets/images/charity2.png" alt="" width="50px" height="50px"></span>
		
		<h1>Regalos</h1>
		<p>Tu presencia en nuestra boda es el mejor regalo que podríamos recibir. Si bien tu compañía es lo más importante para nosotros, si estás considerando hacernos un regalo, agradecemos mucho cualquier contribución económica para ayudarnos a dar inicio a esta nueva etapa de nuestras vidas. Tu generosidad será apreciada, pero sobre todo, tu amor y buenos deseos son invaluables. ¡Gracias por compartir este día tan especial con nosotros!</p>
	</div>
	<div class="flex-container">
		<div class="flex-item">
			<span><img src="assets/images/bancolombia.png" alt="Bancolombia"  width="30px" height="50px"></span>
			<p class="bank-text">Karen Venera Montenegro</p>
			<p class="bank-text">52300034772</p>
			<p class="bank-text">CC 1051418448</p>
		</div>

		<div class="flex-item">
			<span><img src="assets/images/nequi.svg" alt="Bancolombia"  width="30px" height="50px"></span>
			<p class="bank-text">Karen Venera Montenegro</p>
			<p class="bank-text"> 3015437876</p>
		</div>
	</div>
</ng-container>
